# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master, next, staging ]
  pull_request:
    branches: [ master, next, staging ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.3.0
      with:
        node-version: 12.x
    - name: Run Npm CI
      run: npm ci
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assemble
    - name: Deploy with Semantic Release
      run: npm run release
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
    - name: Run FOSSA scan and upload build data
      uses: fossa-contrib/fossa-action@v1
      with:
        fossa-api-key: ${{ secrets.FOSSA_API_KEY }}
        skip-test: true
